@charset "ISO-8859-1";

.topnav {
  overflow: hidden;
}

.topnav a { 
  float: left;
  color: #353535;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #393939;
  color: white;
}
