@using SmartAdmin.Seed.Configuration
@using SmartAdmin.Seed.Extensions
@inject IOptions<SmartSettings> Settings
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as it -->
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="~/img/avatars/sunny.png" alt="me" class="online" />
                <span>john.doe</span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li is-active-route asp-controller="Home">
                <a href="#" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span>
                </a>
                <ul>
                    <li is-active-route asp-controller="Home" asp-action="Index">
                        <a asp-controller="Home" asp-action="Index" title="Empty">
                            <span class="menu-item-parent">Empty</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li is-active-route asp-controller="Misc">
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Miscellaneous</span>
                </a>
                <ul>
                    <li is-active-route asp-controller="Account" asp-action="Login">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li is-active-route asp-controller="Account" asp-action="Register">
                        <a asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li is-active-route asp-controller="Account" asp-action="ForgotPassword">
                        <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->
