<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ChooseIT</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>NonGuestFilter</filter-name>
    <filter-class>it.chooseit.filters.NonGuestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NonGuestFilter</filter-name>
    <url-pattern>/AreaPersonale.jsp</url-pattern>
    <url-pattern>/Contatti.jsp</url-pattern>
    <url-pattern>/LogoutServlet</url-pattern>
    <url-pattern>/DownloadProgettoFormativoServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudenteSegreteriaFilter</filter-name>
    <filter-class>it.chooseit.filters.StudenteSegreteriaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudenteSegreteriaFilter</filter-name>
    <url-pattern>/ListaAziendeServlet</url-pattern>
    <url-pattern>/ListaAziende.jsp</url-pattern>
    <url-pattern>/DettaglioAziendaServlet</url-pattern>
    <url-pattern>/DettaglioAzienda.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudenteFilter</filter-name>
    <filter-class>it.chooseit.filters.StudenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudenteFilter</filter-name>
    <url-pattern>/InviaRichiestaTirocinioServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SegreteriaFilter</filter-name>
    <filter-class>it.chooseit.filters.SegreteriaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SegreteriaFilter</filter-name>
    <url-pattern>/InserimentoAzienda.jsp</url-pattern>
    <url-pattern>/InserisciAziendaServlet</url-pattern>
    <url-pattern>/AggiornaAziendaServlet</url-pattern>
    <url-pattern>/ValutaTirocinioServlet</url-pattern>
    <url-pattern>/ValutazioneInizialeRichiestaTirocinioServlet</url-pattern>
    <url-pattern>/ValutazioneFinaleRichiestaTirocinioServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PresidenteFilter</filter-name>
    <filter-class>it.chooseit.filters.PresidenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PresidenteFilter</filter-name>
    <url-pattern>/ConvalidaRichiestaTirocinioServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TutorAziendaleFilter</filter-name>
    <filter-class>it.chooseit.filters.TutorAziendaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TutorAziendaleFilter</filter-name>
    <url-pattern>/ListaQuestionariTutorAziendale.jsp</url-pattern>
    <url-pattern>/ListaQuestionariTutorAziendaliServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudenteTutorAziendaleFilter</filter-name>
    <filter-class>it.chooseit.filters.StudenteTutorAziendaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudenteTutorAziendaleFilter</filter-name>
    <url-pattern>/Questionari.jsp</url-pattern>
    <url-pattern>/InserimentoReportServlet</url-pattern>
    <url-pattern>/QuestionariServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NonSegreteriaFilter</filter-name>
    <filter-class>it.chooseit.filters.NonSegreteriaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NonSegreteriaFilter</filter-name>
    <url-pattern>/Profilo.jsp</url-pattern>
    <url-pattern>/ModificaProfiloServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudenteSegreteriaPresidenteFilter</filter-name>
    <filter-class>it.chooseit.filters.StudenteSegreteriaPresidenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudenteSegreteriaPresidenteFilter</filter-name>
    <url-pattern>/DettaglioRichiestaTirocinio.jsp</url-pattern>
    <url-pattern>/DettaglioRichiestaServlet</url-pattern>
    <url-pattern>/ListaRichiesteTirocinioServlet</url-pattern>
    <url-pattern>/ListaRichiesteTirocinio.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NonPresidenteFilter</filter-name>
    <filter-class>it.chooseit.filters.NonPresidenteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NonPresidenteFilter</filter-name>
    <url-pattern>/ListaTirocini.jsp</url-pattern>
    <url-pattern>/RegistroTirocinio.jsp</url-pattern>
    <url-pattern>/ListaTirocinioServlet</url-pattern>
    <url-pattern>/ValutaReportServlet</url-pattern>
  </filter-mapping>
 
</web-app>