<% content_for :head do %>
  <!--[if IE 9]>
  <style>
    .error-text {
      color: #333 !important;
    }
  </style>
  <![endif]-->

<% end %>

<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>Home</li><li>Miscellaneous</li><li>Error 500</li>
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

  </div>
  <!-- END RIBBON -->
<% end %>


<!-- MAIN CONTENT -->
<div id="content">

  <!-- row -->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="row">
        <div class="col-sm-12">
          <div class="text-center error-box">
            <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
            <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
            <br />
            <p class="lead semi-bold">
              <strong>You have experienced a technical error. We apologize.</strong><br><br>
              <small>
                We are working hard to correct this issue. Please wait a few moments and try your search again. <br> In the meantime, check out whats new on SmartAdmin:
              </small>
            </p>
            <ul class="error-search text-left font-md">
                    <li><a href="javascript:void(0);"><small>Go to My Dashboard <i class="fa fa-arrow-right"></i></small></a></li>
                    <li><a href="javascript:void(0);"><small>Contact SmartAdmin IT Staff <i class="fa fa-mail-forward"></i></small></a></li>
                    <li><a href="javascript:void(0);"><small>Report error!</small></a></li>
                    <li><a href="javascript:void(0);"><small>Go back</small></a></li>
                </ul>
          </div>

        </div>

      </div>

    </div>

  </div>
  <!-- end row -->

</div>
<!-- END MAIN CONTENT -->

<% content_for :scripts do %>
  <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      $("#search-error").focus();

    })

  </script>
<% end %>